
/*td img {*/
/* Another Mozilla/Netscape bug with making sure our images display correctly */
/*	display: block;*/
/*}*/


#FWTableContainer130922227 {
/* The master div to make sure that our popup menus get aligned correctly.  Be careful when playing with this one. */
	position:relative;
	margin:0px;
	width:146px;	
	height:522px;
	text-align:left;
}

#MMMenuContainer0829223939_0 {
/* This ID is related to the master menu div for menu MMMenuContainer0829223939_0 and contains the important positioning information for the menu as a whole */
	position:absolute;
	left:150px;
	top:130px;
	visibility:hidden;
	z-index:300;
}

#MMMenu0829223939_0 {
/* This class defines things about menu MMMenu0829223939_0's div. */
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
	background-color:#ffffff;
	border:1px solid #000000;
	width:150px;
	height:233px;
}

.MMMIFVStyleMMMenu0829223939_0 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829223939_0 */
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:30px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

.MMMIVStyleMMMenu0829223939_0 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829223939_0 */
	border-top:0px;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:29px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

#MMMenu0829223939_0_Item_0 {
/* Unique ID for item 0 of menu MMMenu0829223939_0 so we can set its position */
	left:0px;
	top:0px;
}

#MMMenu0829223939_0_Item_1 {
/* Unique ID for item 1 of menu MMMenu0829223939_0 so we can set its position */
	left:0px;
	top:30px;
}

#MMMenu0829223939_0_Item_2 {
/* Unique ID for item 2 of menu MMMenu0829223939_0 so we can set its position */
	left:0px;
	top:59px;
}

#MMMenu0829223939_0_Item_3 {
/* Unique ID for item 3 of menu MMMenu0829223939_0 so we can set its position */
	left:0px;
	top:88px;
}

#MMMenu0829223939_0_Item_4 {
/* Unique ID for item 4 of menu MMMenu0829223939_0 so we can set its position */
	left:0px;
	top:117px;
}

#MMMenu0829223939_0_Item_5 {
/* Unique ID for item 4 of menu MMMenu0829223939_0 so we can set its position */
	left:0px;
	top:146px;
}

#MMMenu0829223939_0_Item_6 {
/* Unique ID for item 4 of menu MMMenu0829223939_0 so we can set its position */
	left:0px;
	top:175px;
}

#MMMenu0829223939_0_Item_7 {
/* Unique ID for item 4 of menu MMMenu0829223939_0 so we can set its position */
	left:0px;
	top:204px;
}

#MMMenuContainer0829223939_0 img {
/* needed for Mozilla/Camino/Netscape */
	border:0px;
}

#MMMenuContainer0829223939_0 a {
/* Controls the general apperance for menu MMMenuContainer0829223939_0's items, including color and font */
	text-decoration:none;
	font-family:細明體, 新細明體, 標楷體;
	font-size:16px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
	padding:3px;
	background-color:#ffffff;
	font-weight:normal;
	font-style:normal;
	display:block;
	position:absolute;
}

#MMMenuContainer0829223939_0 a:hover {
/* Controls the mouse over effects for menu MMMenuContainer0829223939_0 */
	color:#000000;
  background-color:#ccc2fe;
}
#MMMenuContainer0829224320_1 {
/* This ID is related to the master menu div for menu MMMenuContainer0829224320_1 and contains the important positioning information for the menu as a whole */
	position:absolute;
	left:150px;
	top:250px;
	visibility:hidden;
	z-index:300;
}

#MMMenu0829224320_1 {
/* This class defines things about menu MMMenu0829224320_1's div. */
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
	background-color:#ffffff;
	border:1px solid #000000;
	width:150px;
	height:59px;
}

.MMMIFVStyleMMMenu0829224320_1 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224320_1 */
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:30px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

.MMMIVStyleMMMenu0829224320_1 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224320_1 */
	border-top:0px;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:29px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

#MMMenu0829224320_1_Item_0 {
/* Unique ID for item 0 of menu MMMenu0829224320_1 so we can set its position */
	left:0px;
	top:0px;
}

#MMMenu0829224320_1_Item_1 {
/* Unique ID for item 1 of menu MMMenu0829224320_1 so we can set its position */
	left:0px;
	top:30px;
}

#MMMenuContainer0829224320_1 img {
/* needed for Mozilla/Camino/Netscape */
	border:0px;
}

#MMMenuContainer0829224320_1 a {
/* Controls the general apperance for menu MMMenuContainer0829224320_1's items, including color and font */
	text-decoration:none;
	font-family:細明體, 新細明體, 標楷體;
	font-size:16px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
	padding:3px;
	background-color:#ffffff;
	font-weight:normal;
	font-style:normal;
	display:block;
	position:absolute;
}

#MMMenuContainer0829224320_1 a:hover {
/* Controls the mouse over effects for menu MMMenuContainer0829224320_1 */
	color:#000000;
  background-color:#ccc2fe;
}
#MMMenuContainer0829224417_2 {
/* This ID is related to the master menu div for menu MMMenuContainer0829224417_2 and contains the important positioning information for the menu as a whole */
	position:absolute;
	left:150px;
	top:290px;
	visibility:hidden;
	z-index:300;
}

#MMMenu0829224417_2 {
/* This class defines things about menu MMMenu0829224417_2's div. */
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
	background-color:#ffffff;
	border:1px solid #000000;
	width:150px;
	height:175px;
}

.MMMIFVStyleMMMenu0829224417_2 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224417_2 */
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:30px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

.MMMIVStyleMMMenu0829224417_2 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224417_2 */
	border-top:0px;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:29px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

#MMMenu0829224417_2_Item_0 {
/* Unique ID for item 0 of menu MMMenu0829224417_2 so we can set its position */
	left:0px;
	top:0px;
}

#MMMenu0829224417_2_Item_1 {
/* Unique ID for item 1 of menu MMMenu0829224417_2 so we can set its position */
	left:0px;
	top:30px;
}

#MMMenu0829224417_2_Item_2 {
/* Unique ID for item 2 of menu MMMenu0829224417_2 so we can set its position */
	left:0px;
	top:59px;
}

#MMMenu0829224417_2_Item_3 {
/* Unique ID for item 3 of menu MMMenu0829224417_2 so we can set its position */
	left:0px;
	top:88px;
}

#MMMenu0829224417_2_Item_4 {
/* Unique ID for item 4 of menu MMMenu0829224417_2 so we can set its position */
	left:0px;
	top:117px;
}

#MMMenu0829224417_2_Item_5 {
/* Unique ID for item 5 of menu MMMenu0829224417_2 so we can set its position */
	left:0px;
	top:146px;
}

#MMMenuContainer0829224417_2 img {
/* needed for Mozilla/Camino/Netscape */
	border:0px;
}

#MMMenuContainer0829224417_2 a {
/* Controls the general apperance for menu MMMenuContainer0829224417_2's items, including color and font */
	text-decoration:none;
	font-family:細明體, 新細明體, 標楷體;
	font-size:16px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
	padding:3px;
	background-color:#ffffff;
	font-weight:normal;
	font-style:normal;
	display:block;
	position:absolute;
}

#MMMenuContainer0829224417_2 a:hover {
/* Controls the mouse over effects for menu MMMenuContainer0829224417_2 */
	color:#000000;
  background-color:#ccc2fe;
}
#MMMenuContainer0829224521_3 {
/* This ID is related to the master menu div for menu MMMenuContainer0829224521_3 and contains the important positioning information for the menu as a whole */
	position:absolute;
	left:150px;
	top:410px;
	visibility:hidden;
	z-index:300;
}

#MMMenu0829224521_3 {
/* This class defines things about menu MMMenu0829224521_3's div. */
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
	background-color:#ffffff;
	border:1px solid #000000;
	width:150px;
	height:59px;
}

.MMMIFVStyleMMMenu0829224521_3 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224521_3 */
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:30px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

.MMMIVStyleMMMenu0829224521_3 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224521_3 */
	border-top:0px;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:29px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

#MMMenu0829224521_3_Item_0 {
/* Unique ID for item 0 of menu MMMenu0829224521_3 so we can set its position */
	left:0px;
	top:0px;
}

#MMMenu0829224521_3_Item_1 {
/* Unique ID for item 1 of menu MMMenu0829224521_3 so we can set its position */
	left:0px;
	top:30px;
}

#MMMenuContainer0829224521_3 img {
/* needed for Mozilla/Camino/Netscape */
	border:0px;
}

#MMMenuContainer0829224521_3 a {
/* Controls the general apperance for menu MMMenuContainer0829224521_3's items, including color and font */
	text-decoration:none;
	font-family:細明體, 新細明體, 標楷體;
	font-size:16px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
	padding:3px;
	background-color:#ffffff;
	font-weight:normal;
	font-style:normal;
	display:block;
	position:absolute;
}

#MMMenuContainer0829224521_3 a:hover {
/* Controls the mouse over effects for menu MMMenuContainer0829224521_3 */
	color:#000000;
  background-color:#ccc2fe;
}
#MMMenuContainer0829224604_4 {
/* This ID is related to the master menu div for menu MMMenuContainer0829224604_4 and contains the important positioning information for the menu as a whole */
	position:absolute;
	left:150px;
	top:450px;
	visibility:hidden;
	z-index:300;
}

#MMMenu0829224604_4 {
/* This class defines things about menu MMMenu0829224604_4's div. */
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
	background-color:#ffffff;
	border:1px solid #000000;
	width:150px;
	height:88px;
}

.MMMIFVStyleMMMenu0829224604_4 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224604_4 */
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:30px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

.MMMIVStyleMMMenu0829224604_4 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224604_4 */
	border-top:0px;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:29px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

#MMMenu0829224604_4_Item_0 {
/* Unique ID for item 0 of menu MMMenu0829224604_4 so we can set its position */
	left:0px;
	top:0px;
}

#MMMenu0829224604_4_Item_1 {
/* Unique ID for item 1 of menu MMMenu0829224604_4 so we can set its position */
	left:0px;
	top:30px;
}

#MMMenu0829224604_4_Item_2 {
/* Unique ID for item 2 of menu MMMenu0829224604_4 so we can set its position */
	left:0px;
	top:59px;
}

#MMMenuContainer0829224604_4 img {
/* needed for Mozilla/Camino/Netscape */
	border:0px;
}

#MMMenuContainer0829224604_4 a {
/* Controls the general apperance for menu MMMenuContainer0829224604_4's items, including color and font */
	text-decoration:none;
	font-family:細明體, 新細明體, 標楷體;
	font-size:16px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
	padding:3px;
	background-color:#ffffff;
	font-weight:normal;
	font-style:normal;
	display:block;
	position:absolute;
}

#MMMenuContainer0829224604_4 a:hover {
/* Controls the mouse over effects for menu MMMenuContainer0829224604_4 */
	color:#000000;
  background-color:#ccc2fe;
}
#MMMenuContainer0829224641_5 {
/* This ID is related to the master menu div for menu MMMenuContainer0829224641_5 and contains the important positioning information for the menu as a whole */
	position:absolute;
	left:150px;
	top:410px;
	visibility:hidden;
	z-index:300;
}

#MMMenu0829224641_5 {
/* This class defines things about menu MMMenu0829224641_5's div. */
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
	background-color:#ffffff;
	border:1px solid #000000;
	width:150px;
	height:59px;
}

.MMMIFVStyleMMMenu0829224641_5 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224641_5 */
	border-top:1px solid #ffffff;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:30px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

.MMMIVStyleMMMenu0829224641_5 {
/* This class determines the general characteristics of the menu items in menu MMMenu0829224641_5 */
	border-top:0px;
	border-left:1px solid #ffffff;
	border-bottom:1px solid #ffffff;
	border-right:1px solid #ffffff;
	width:150px;
	height:29px;
	voice-family: "\"}\"";
	voice-family:inherit;
	width:142px;
	height:22px;
}

#MMMenu0829224641_5_Item_0 {
/* Unique ID for item 0 of menu MMMenu0829224641_5 so we can set its position */
	left:0px;
	top:0px;
}

#MMMenu0829224641_5_Item_1 {
/* Unique ID for item 1 of menu MMMenu0829224641_5 so we can set its position */
	left:0px;
	top:30px;
}

#MMMenuContainer0829224641_5 img {
/* needed for Mozilla/Camino/Netscape */
	border:0px;
}

#MMMenuContainer0829224641_5 a {
/* Controls the general apperance for menu MMMenuContainer0829224641_5's items, including color and font */
	text-decoration:none;
	font-family:細明體, 新細明體, 標楷體;
	font-size:16px;
	color:#000000;
	text-align:left;
	vertical-align:middle;
	padding:3px;
	background-color:#ffffff;
	font-weight:normal;
	font-style:normal;
	display:block;
	position:absolute;
}

#MMMenuContainer0829224641_5 a:hover {
/* Controls the mouse over effects for menu MMMenuContainer0829224641_5 */
	color:#000000;
	background-color:#ccc2fe;
}
