/* 全局樣式 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

/* 導覽列樣式 */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    transition: background-color 0.8s ease;
}

.nav-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    height: 30px;
    max-width: 100%;
    margin: 0 auto; /* 使容器居中 */
    position: relative;
}

.nav-links {
    display: flex;
    flex: 1;
    justify-content: center; /* 四個按鈕居中 */
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 50px; /* 調整按鈕間的間距 */
}

.nav-links a:hover {
    text-decoration: underline;
}

/* 登入按鈕樣式 */
.login-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    position: absolute;
    right: 0px; /* 固定在右側 */
}

.login-link:hover {
    text-decoration: underline;
}

/* 菜單按鈕樣式 */
.menu-button {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* 響應式樣式 */
@media (max-width: 820px) {
    .menu-button {
        display: block;
    }

    /* 當選單打開時變更nav的背景顏色 */
    nav.active {
        background-color: rgba(0, 0, 0, 1);
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 1);
        transition: opacity 0.8s ease;
        gap: 0; /* 取消手機版中的間距 */
    }

    .nav-links.active {
        display: flex;
        opacity: 1;
    }

    .nav-links a {
        padding: 15px 20px;
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-links a:last-child {
        border-bottom: none;
    }

    /* 確保手機的登入按鈕也顯示在選單中 */
    .login-link {
        display: block;
        border-top: 2px solid rgba(255, 255, 255, 0.3);
        margin-top: auto; /* 確保登入按鈕在選單的最後面 */
        padding-top: 15px;
        position: static; /* 取消位置固定 */
        right: auto; /* 取消右側位置 */
    }
}

/* 桌面版樣式 */
@media (min-width: 769px) {
    .nav-links .login-link {
        display: block;
    }
}

/* 頁首樣式 */
header {
    background-color: #ffffff;
    padding: 40px 0 0px 0;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 90px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: #6f93fe;
    margin-top: 20px;
}

/* 頁尾樣式 */
footer {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    height: 90px;
    box-sizing: border-box;
}

footer p {
    color: white;
    margin: 0;
}
