/* 全局樣式 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

/* 導覽列樣式 */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    transition: background-color 0.8s ease; /* 添加過渡效果 */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 30px;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 50px;
}

.nav-links a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.nav-right a {
    color: white;
    text-decoration: none;
}

.nav-right a:hover {
    text-decoration: underline;
    background-color: transparent;
}

/* 菜單按鈕樣式 */
.menu-button {
    display: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* 響應式樣式 */
@media (max-width: 768px) {
    .menu-button {
        display: block;
    }

    /* 當選單打開時變更nav的背景顏色 */
    nav.active {
        background-color: rgba(0, 0, 0, 1);
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: rgba(128, 128, 128, 1);
        transition: opacity 0.8s ease;
    }

    .nav-links.active {
        display: flex;
        opacity: 1;
    }

    .nav-links a {
        padding: 15px 20px;
        margin: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .nav-links a:last-child {
        border-bottom: none;
    }
}

/* 頁面標頭樣式 */
header {
    background-color: #ffffff;
    padding: 40px 0 0px 0;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    height: 90px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: #6f93fe;
    margin-top: 20px;
}

/* 頁尾樣式 */
footer {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    height: 90px;
    box-sizing: border-box;
}

footer p {
    color: white;
    margin: 0;
}